<p>
  <strong>Title:</strong>
  <%= @profile.user_name %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @profile.tweet %>
  <%= image_tag(@profile.image, :size => "180x135") if @profile.image.attached? %>
  <label><%= @profile.likes.length %></label>
  
</p>

<!DOCTYPE html>
<html>
<head>
	<!--esto es una prueba-->
	<meta charset="utf-8"/>
	<title>Inicio</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<header id="main-header">
		<nav class="navbar navbar-dark bg-dark">
  		<a class="navbar-brand title-header" href="/">night-thougths</a>
		</nav>
		
		<%# <span>
			<nav>
				
			</nav><!-- / nav -->
		</span>
	</header><!-- / #main-header --> %>

</body>
</html></header>